<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-dark"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item text-dark"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Contact us</li>
            </ol>
        </div>
    </nav>
    <div class="container">
        <div class="page-header page-header-big text-center"
            style="background-image: url('assets/images/contact-header-bg.jpg')">
            <h1 class="page-title text-white">Contact us<span class="text-white">keep in touch with us</span></h1>
        </div>
    </div>

    <div class="page-content pb-0 ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1 text-center">Contact Information</h2>
                    <p class="mb-3 text-center">We are here to assist you with any questions or concerns you may have. Feel free to
                        reach out to us at any time. Our dedicated team is available around the clock to ensure you have
                        the best shopping experience.</p>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-info">
                                <h3>The Office</h3>
                                <ul class="contact-list">
                                    <li><i class="icon-map-marker"></i> Dubai Muhaisinah street, UAE 10012,
                                        United Arab Emirates</li>
                                    <li><i class="icon-phone"></i> <a href="tel:#">+971 232 721 987</a></li>
                                    <li><i class="icon-clock-o"></i> <span class="text-dark">Available 24/7
                                            Online</span></li>
                                    <li><i class="icon-envelope"></i> <a href="mailto:#">info@Ministore.com</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
