<section class="breadcrumb-option">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-2">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="/admin">
            <svg class="bi" width="16" height="16">
              <use xlink:href="#house-door-fill"></use>
            </svg>
            <span class="visually-hidden">Dashboard</span>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none  text-success" href="/admin/products">Products</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
      </ol>
    </nav>
  </div>
</section>

<div class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= locals.title ? locals.title : 'Dashboard' %></h1>
</div>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="text-dark"> <!-- Add text-dark class here -->
            <h4 class="card-title">Add New Product</h4>
          </div>
          <form class="addProductForm" action="/admin/addProduct" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" novalidate>

            <div class="form-group row">
              <div class="col-6">
                <label for="productName" class="text-dark">Product Title</label> <!-- Add text-dark class here -->
                <input type="text" class="form-control text-dark text-justify" name="productName" id="exampleInputName1"
                  placeholder="Name" >
                  <span id="productNameError" class="text-danger"></span>
              </div>
              <div class="col-6">
                <label for="actualprice" class="text-dark">Actual Price</label> <!-- Add text-dark class here -->
                <input type="number" class="form-control text-dark" id="inlineFormInputName1" name="actualprice"
                  placeholder="Price">
                <div id="priceError" class="text-danger"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group">  
                      <label for="tags">Categories:</label>
                      <select class="form-select text-capitalize" name="category" required>
                        <% categories.forEach(function(category) { %>
                        <option class="text-capitalize" value="<%= category._id %>">
                          <%= category.name %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <div id="categoryError" class="text-danger"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="sellingPrice" class="text-dark">Discount Price</label> <!-- Add text-dark class here -->
                <input type="number" class="form-control text-dark" id="inlineFormInputName1" name="sellingPrice"
                  placeholder="Price">
                    <div id="genderError" class="text-danger"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="brandName" class="text-dark">Brand</label> <!-- Add text-dark class here -->
                    <input type="text" class="form-control text-dark" id="brand" name="brandName"
                      placeholder="Brand Name" onkeyup="capitalizeFirstLetter(this)" >
                      <span id="brandError" class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label for="stock" class="text-dark">Stock</label> <!-- Add text-dark class here -->
                    <input type="number" class="form-control text-dark" id="quantity" name="stock"
                      placeholder="Enter Stock" >
                      <span id="quantityError" class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-2">
              <label for="description" class="text-dark">Description</label> <!-- Add text-dark class here -->
              <textarea name="product_description" class="form-control text-dark" id="exampleTextarea1" rows="4"
                ></textarea>
                <span id="descriptionError" class="text-danger"></span>
            </div>
            <span class="fw-bold m-2">Select the Primary Image</span>

            <div class="d-flex align-items-center justify-content-center">
              <img id="prev" class="img-fluid img-thumbnail border my-1 rounded" width="100rem" height="100rem" src="" alt="" />
            </div>
    
            <input id="primaryIMG" type="file" accept=".jpg,.jpeg,.png,.webp,.svg" class="form-control FilUploader" class="mb-3" required />
            <input id="result" type="hidden" name="" value="" />
            <span class="fw-bold">Select secondary images <br />
              <span class="fw-normal text-success">Maximum 3 images</span></span>
            <input type="file" id="image" class="form-control FilUploader" accept=".jpg,.jpeg,.png,.webp,.svg" name="images" class="mb-3" multiple required />
          </fieldset>
        </div>
            <button type="submit" class="btn btn-lg btn-success mr-2 mt-5">Add product</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Modal for Cropping -->
<!-- <div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cropModalLabel">Crop Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <img id="cropperImage" src="#" alt="Croppable Image"  />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="cropImage()">Crop</button>
      </div>
    </div>
  </div>
</div> -->
  <script defer>/js/admin/products/add-product.js</script>

