<nav id="sidebarMenu" class="col-sm-2 col-md-2 col-lg-2 d-md-block bg-dark sidebar collapse text-bg-dark">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <!-- <span data-feather="home"></span> -->
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Banners
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Banners</a></li>
                  <li><a class="dropdown-item" href="#">Add Banner</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users/">
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/admin/category" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/admin/category">All Categories</a></li>
                  <li><a class="dropdown-item" href="/admin/category/add-category">Add Category</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/admin/products" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/admin/products">All Products</a></li>
                  <li><a class="dropdown-item" href="/admin/products/add-product">Add Product</a></li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Orders
                </a>
            </li>





            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            
        </ul>

    </div>
</nav>